.main_chat__list__box
  .main_chat__list__box__user
    .user
      %b 
        = message.user.name
    .time 
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main_chat__list__message
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: "main_chat_image" if message.image.present?